button.button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    transform: scale(1.1);
    background-color: var(--color-secondary);
  }

  figure {
    display: block;
    width: 1.5rem;
    height: 1.5rem;

    img {
      height: 100%;
    }

    i.ph {
      font-size: 1.5rem;
    }
  }

  &.size-s {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    gap: 0.2rem;

    figure {
      display: block;
      width: 1.2rem;
      height: 1.2rem;

      img {
        height: 100%;
      }

      i.ph {
        font-size: 1.2rem;
      }
    }
  }

  &.size-l {
    padding: 1.5rem 3rem;
    font-size: 2rem;

    figure {
      display: block;
      width: 3rem;
      height: 3rem;

      img {
        height: 100%;
      }

      i.ph {
        font-size: 3rem;
      }
    }
  }

  &.style-primary {
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &.style-secondary {
    background-color: var(--color-secondary);
    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &.style-transparent {
    background-color: var(--color-white-20);
    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &.style-label-only {
    background-color: transparent;
    color: var(--color-white-50);
    transition: color 0.3s;
    padding: 0;

    &:hover {
      transform: none;
      color: var(--color-white);
    }
  }

  &.pill {
    border-radius: 5rem;
  }

  &.italic {
    font-style: italic;
  }
}
